body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007bff, #0099ff); 
}


h1 {
    text-align: center;
    color: #fff; 
    padding: 20px;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.form-check-inline {
    margin-right: 15px;
}

/* Task List styles */
.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: #333;
}

/* Completed tasks */
.list-group-item.completed {
    text-decoration: line-through;
    color: #888;
}

/*  B U T T O N S >:)  */
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #bb2d3b;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}
